html {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
* {
  box-sizing: border-box;
}
/*Whole calculator:*/
#calculator {
  --width: 20rem;
  margin: 1rem;
  min-width: var(--width);
  height: calc(2*var(--width));
  
}

h1 {
  margin: 0;
  height: 5%;
  display: grid;
  align-items: center;
  font-size: 1rem;
}
/*Display / screen:*/
#display {
  background: black;
  height: 15%;
  max-height: 200px;
  overflow: auto;
  text-align: left;
  padding: 0.5rem;
  max-width: 100%;
}

/*Buttons:*/
#buttons {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "clear divide multiply subtract"
  "seven eight nine add"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals"
  "home home tests tests"

}
#buttons > button {
  font-size: 2rem;
}

#equals { grid-area: equals; }
#divide { grid-area: divide; }
#multiply { grid-area: multiply; }
#subtract { grid-area: subtract; }
#add { grid-area: add; }
#decimal { grid-area: decimal;}
#clear { grid-area: clear;}
#zero { grid-area: zero; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#home { grid-area: home; }
#tests { grid-area: tests; }



/*freeCodeCamp test:*/
#fcc_test_suite_wrapper  {
  visibility: hidden;
}

@media (max-width: 300px) {
  #calculator {
    --width: 100vw;
    font-size: 10vw;
  }
  #buttons > button {
    font-size: 10vw;
  }
}